@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/css/spectre.min.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <link rel="stylesheet" href="~/css/thea.min.css" />
    <script src="~/js/amusinghoSJquery.js"></script>
</head>
<body>
    <div class="thea">
        <header>
            <div class="thea">
                <div class="thea-header">
                    <div class="container">
                        <div class="navbar">
                            <div class="navbar-section">
                                <a href="https://alexinea.com/" class="logo" alt="Alexinea's Blog" rel="home">ZaraNet</a>
                            </div>
                            <div class="navbar-center hide-sm">
                                <ul class="nav">
                                    <li class="nav-item"><a href="/">首页</a></li>
                                    <li class="nav-item"><a href="http://forerunner.cnblogs.com/" target="_blank" title="我的技术博客">技术</a></li>
                                    <li class="nav-item"><a href="https://github.com/zaranetCore" target="_blank" title="我的 GitHub">项目</a></li>
                                    <li class="nav-item"><a href="https://alexinea.com/tag/books-list/" title="书单来了">书单</a></li>
                                    <li class="nav-item"><a href="https://alexinea.com/tag/books-list/" title="书单来了">旅行地图</a></li>
                                    <li class="nav-item"><a href="https://alexinea.com/tag/books-list/" title="书单来了">关于我</a></li>
                                    <li class="nav-item"><a href="https://alexinea.com/tag/books-list/" title="书单来了">公用聊天室</a></li>
                                </ul>
                            </div>
                            <div class="navbar-section">

                                <div id="search" class="search">
                                    <form method="get" class="search-form" name="searchform" action="https://alexinea.com/">
                                        <input type="text" class="search-input form-input" value="" placeholder="搜索" name="s">
                                        <input type="submit" class="search-btn btn btn-link" value="">
                                    </form>
                                </div>
                                <a class="social-button hide-sm" href="https://twitter.com/zaranet" target="_blank">
                                    <img src="~/img/twitter.svg">
                                </a>
                                <a class="social-button hide-sm" href="https://weibo.com/zaranet" target="_blank">
                                    <img src="~/img/weibo.svg">
                                </a>
                                <a href="">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">登出</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark">登录</a>
                                        </li>
                                    }
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main role="main" class="pb-3 thea-body">
            @RenderBody()
        </main>
        <footer class="thea-footer">
            <div class="container text-center">
                <nav class="footer-nav">
                    <a href="/about">关于</a>
                    <span class="divider-dot">·</span>
                    <a href="http://forerunner.cnblogs.com/" target="_blank">技术</a>
                    <span class="divider-dot">·</span>
                    <a href="/about">联系</a>
                    <span class="divider-dot">·</span>
                    <a href="/links">友链</a>
                </nav>
                <nav class="footer-nav">
                    Your Can Change Web Language：
                    <select class="form-select select-sm select-inline" id="language">
                        <option value="0">Setting</option>
                        <option value="1">Chinese</option>
                        <option value="2">English</option>
                    </select>
                </nav>
                <section class="copyright"> @Localizer["section1"]  <a href="https://github.com/zaranetCore/amusinghoS"> | GitHub</a></section>
                <section class="copyright">Server use Alibaba Cloud  <a>Author:ZaraNet</a></section>
                <section class="copyright">Thanks to Microsoft for providing .NET Core related technology</section>
                <section class="copyright">Website is currently hosted using .NET Core 3.1</section>
            </div>
        </footer>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $(function () {
        $("#language").change(function (e) {
            var opt = $("#language").val();
            if (opt == 1) {
                document.cookie = 'CULTURE=zh-CN';
                location.reload();
            } else if(opt == 2) {
                document.cookie = 'CULTURE=en-US';
                location.reload();
            }
        });
    });
</script>