
@{
    Layout = null;
}
<title>bootstrap登录注册表单切换页面</title>
<link href="~/static/css/demo.css" rel="stylesheet" media="all" />
<script src="~/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<style>
    .fdad a {
        color: #000;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fdad {
        top: 66px;
    }

    .xgcj li {
        font-size: 14px;
        line-height: 20px;
        list-style-type: none;
        transition: all 1s ease 0s;
        border-radius: 5px;
    }

        .xgcj li:hover {
            background-color: #e4e4e4;
        }

    .xgcj {
        background-color: rgba(255,255,255,.3);
        overflow-x: hidden;
    }

        .xgcj ul {
            padding: 10px
        }

        .xgcj h3 {
            line-height: 30px;
        }

        .xgcj p {
            padding-left: 20px;
            font-size: 13px;
            display: none;
        }

        .xgcj span {
            font-family: "宋体";
        }

        .xgcj li:hover p {
            display: block;
        }
</style>
<script src="~/static/js/pace.min.js" charset="gbk"></script>
<link href="~/static/css/pace-theme-barber-shop.css" rel="stylesheet" />
<script src="~/static/js/jquery.qrcode.min.js"></script>

<script type="text/javascript">
    var dqfl = "输入";
    var theme_list_open = false;

    $(document).ready(function () {
        function fixHeight() {
            var headerHeight = $("#switcher").height();
            $("#iframe").attr("height", $(window).height() - 54 + "px");
        }
        $(window).resize(function () {
            fixHeight();
        }).resize();

        $('.icon-monitor').addClass('active');

        $(".icon-mobile-3").click(function () {
            $("#by").css("overflow-y", "auto");
            $('#iframe-wrap').removeClass().addClass('mobile-width-3');
            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        $(".icon-mobile-2").click(function () {
            $("#by").css("overflow-y", "auto");
            $('#iframe-wrap').removeClass().addClass('mobile-width-2');
            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
            $(this).addClass('active');
            return false;
        });


        $(".icon-mobile-1").click(function () {
            $("#by").css("overflow-y", "auto");
            $('#iframe-wrap').removeClass().addClass('mobile-width');
            $('.icon-tablet,.icon-mobile,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        $(".icon-tablet").click(function () {
            $("#by").css("overflow-y", "auto");
            $('#iframe-wrap').removeClass().addClass('tablet-width');
            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        $(".icon-monitor").click(function () {
            $("#by").css("overflow-y", "hidden");
            $('#iframe-wrap').removeClass().addClass('full-width');
            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        if (dqfl.indexOf("APP模板") != -1) {
            $("#by").css("overflow-y", "auto");
            $('#iframe-wrap').removeClass().addClass('mobile-width-2');
            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
            $(this).addClass('active');
            return false;
        }
    });
</script>
<script type="text/javascript">
    function Responsive($a) {
        if ($a == true) $("#Device").css("opacity", "100");
        if ($a == false) $("#Device").css("opacity", "0");
        $('#iframe-wrap').removeClass().addClass('full-width');
        $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
        $(this).addClass('active');
        return false;
    };
</script>
<div id="iframe-wrap">
    <iframe id="iframe" src="http://www.jq22.com/demo/bootstrapdlzc201907042052" frameborder="0" width="100%"></iframe>
</div>